body {
  background-color: #c17c74;
  font-family: 'Roboto Mono', monospace;
}

#bus {
  float: left;
  width: 150px;
  border-radius: 20px;
  margin: 20px;
}
h1 {
  text-align: left;
  font-size: 3em;
  padding: 30px;
  color: white;
}

main {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-auto-rows: minmax(200px, 300px);
}

img {
  width: 300px;
  border: 1px solid white;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

canvas {
  display:flexbox;
  justify-content: center;
  margin: 15px;
}
